<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit molestias sequi repellendus ipsa possimus distinctio
    mollitia, consequuntur ullam maxime reprehenderit voluptatum cumque quam libero est porro pariatur laudantium autem
    iste!</p>

<%- include("footer") -%>